#configuracao{
    background-color: white;
    height: 100%;
    overflow: scroll;
    .form{
        padding-top: 19%;
    } 
    ion-toolbar{
        .voltar{
            text-align: left;
        }
        .configuracao{
            text-align: center;
        }
        .avancado{
            text-align: right;
        }
    }
    .btnSair{
        width: 52%;
        margin-left: 23%;
    }
    .Sair{
        cursor: pointer;
        ion-icon{
            text-align: end;
            width: 93%;
        }
    }
   
}